<footer class="page-footer font-small bg-dark pt-4">

    <div class="container">
     -   <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/aline.monteiro.50" target="_blanck" 
                        class="icoFacebook"></a>
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/alinear-me/" target="_blanck" 
                        class="icoLinkdin"></a>
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </li>
                    <li>
                        <a href="https://github.com/alinear-me" target="_blanck" 
                        class="icoGithub"></a>
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/alinearme/" target="_blanck" 
                        class="icoInstagram"></a>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<div class="footer-copyright bg-withe text-center py-3">
    <span class="text-light"> © 2020 Copyright: Aline Monteiro</span>


</div>


</footer>